annotated-types
anyio
click
fastapi
h11
pydantic
pydantic_core
sniffio
starlette
typing-inspection
typing_extensions
uvicorn
pymeshlab
python-multipart
mathutils==3.3.0
bpy
trimesh
networkx
lxml
pillow
celery[redis]
psutil
